.ingr_count {
  display: inline-block;
  position: absolute;
  margin-left: -60px;
  margin-top: 80px;
}
.ingr_count::after {
  content: " шт.";
}
.ingr_items {
  position: relative;
  width: 520px;
  border: 1px solid #000;
  height: 200px;
  float: left;
}
#ingr_panel > * {
  direction: ltr;
}
.ingrCard{
    width: 600px;
    z-index: -1;
    height: 200px;
    display: block;
    position: absolute;
}
.r_buttons {
  position: absolute;
  display: block;
  margin: 5px;
  margin-left: 530px;
  
}
.r_button {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #80808050;
  border: 1px solid #000;
}
.checked_ingr {
  background: #808080;
}
.bad_button {
  cursor: default;
  background: #80808050;
  color: #808080;
  text-decoration:line-through;
}
.bottom_buttons{
  position: absolute;
  display: block;
  margin-top: 15px;
}
.bot_but {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  background: #80808050;
  border: 1px solid #000;
}
.ingr_item {
  position: absolute;
  display: none;
  width: 520px;
  height: 200px;
}
h4 {
  text-align: center;
}
.col_l{
  display: inline-block;
  width: 250px;
  float: left;
}
.col_l img {
  width: 200px;
  height: 110px;
  margin-left: 10px;
  margin-top: -10px;
}
.col_r{
  display: inline-block;
  width: 250px;
}
.ingr_params{
  vertical-align: middle;
}
.before_bar {
  display: inline-block;
  width: 50px;
}
.bar{
  display: inline-block;
  position: absolute;
  border: 1px solid #000;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}
.bar span {
  display: inline-block;
  background-color: #000;
  height: inherit;
}
.magic span {  background-color: #e613f9;}
.phys span {  background-color: #0f74ff;}
.holy span {  background-color: #fdcf39;}
.def span {  background-color: #4ab304;}
.atc span {  background-color: #f91313;}

#ingr_panel {
  display: inline-block;
  max-height: 96vh;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  width: 700px;
}

#boiler_panel {
  display: inline-block;
  vertical-align: middle;
}
#boiler {
  width: 300px;
}
