#sendToServer{
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  background: #80808050;
  border: 1px solid #000;
}
body {
    background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626735102_10-kartinkin-com-p-stoleshnitsa-derevo-tekstura-besshovnaya-k-12.jpg");
}
h4 {
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    font-size: 33px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
.ingr_count {
  display: inline-block;
  position: absolute;
  margin-top: 70px;
  font-family: 'Caveat', cursive;
  font-size: 27px;
  margin-left: -35px;
}
.ingr_count::after {
  content: " шт.";
}
.ingr_items {
  position: relative;
  width: 535px;
  height: 225px;
  float: left;
}
#ingr_panel > * {
  direction: ltr;
}
.ingrCard{
    width: 600px;
    z-index: -1;
    height: 225px;
    display: block;
    position: absolute;
}
.r_buttons {
  position: absolute;
  display: block;
  margin: 5px;
  margin-left: 540px;
  margin-top: 20px;  
}
.r_button {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #80808050;
  border: 1px solid #000;
}
.checked_ingr {
  background: #808080;
}
.bad_button {
  cursor: default;
  background: #80808050;
  color: #808080;
  text-decoration:line-through;
}
.bottom_buttons{
  position: absolute;
  display: block;
  margin-top: 15px;
  margin-left: 10px;
}
.bot_but {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  background: #80808050;
  border: 1px solid #000;
}
.ingr_item {
  position: absolute;
  display: none;
  width: 525px;
  height: 200px;
}
h4 {
  text-align: center;
}
.col_l{
  display: inline-block;
  width: 250px;
  float: left;
}
.col_l img {
  width: 200px;
  height: 110px;
  margin-left: 10px;
  margin-top: -10px;
}
.col_r{
  display: inline-block;
  width: 250px;
}
.ingr_params{
  vertical-align: middle;
}
.before_bar {
  display: inline-block;
  width: 50px;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  line-height: 20px;
}
.bar{
  display: inline-block;
  position: absolute;
  border: 1px solid #000;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}
.bar span {
  display: inline-block;
  background-color: #000;
  height: inherit;
}
.magic span {  background-color: #be5ce7;}
.phys span {  background-color: #933333;}
.holy span {  background-color: #F5DA51;}
.def span {  background-color: #38af6d;}
.atc span {  background-color: #f91313;}

#ingr_panel {
  display: inline-block;
  max-height: 96vh;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  width: 700px;
}

#boiler_panel {
  display: inline-block;
  vertical-align: middle;
}
#boiler {
  width: 300px;
}
